<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hadine.web.dao.BoardDAO">

	<select id="list" resultType="BoardDTO">
		SELECT bno, btitle, bdate, m_name, m_id, blike, commentcount
		FROM boardview
		LIMIT 0, 10
	</select>
	
	<select id="detail" parameterType="Integer" resultType="BoardDTO">
		SELECT bno, btitle, bdate, m_name, m_id, blike, bcontent
		FROM boardview where bno=#{bno}
	</select>
	
	

</mapper>

