@charset "UTF-8";

table{
	margin: 0 auto;
	width: 900px;
	height: auto;
	border-collapse: collapse;
}

th{
	background-color: #9575CD;
	border-bottom: 1px solid #4A148C;
	color: white;
}

td{
	text-align: center;
	border-bottom: 1px solid #4A148C;
}

tr:hover{
	background-color: #D1C4E9;
}